@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

			<!-- Slider -->
			<div id="slider-block">
				<div id="slider-holder">
					<div id="slider">
						<a href="#"><img src="../Content/img/01.jpg" title="Thư viện trường Khoa Học Tự Nhiên chào đón bạn đọc" alt="" /></a>
						<a href="#"><img src="../Content/img/02.jpg" title="Trên 100 đầu sách cập nhật mỗi năm" alt="" /></a>
                        <a href="#"><img src="../Content/img/03.jpg" title="Đăng ký học lớp thư viện để được phục vụ tốt nhất" alt="" /></a>
					</div>
				</div>
			</div>
			<!-- ENDS Slider -->
			
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- title -->
						<div id="page-title">
							<span class="title">Sách mới </span>
							<span class="subtitle">Các cuốn sách mới nhất được cập nhật ở đây</span>
						</div>
					<!-- ENDS title -->
					
					<!-- content -->
					<div id="content">
						
								<!-- Posts -->
								<div class="one-third">
                                            <center>
											<a href="single.html" class="thumb" title="An image"><img src="../Content/img/thong-minh-cam-xuc.jpg" alt="Post"/></a>
											<div class="excerpt">
												<a href="single.html" class="header">Lorem ipsum dolor</a>
												Thông tin sách 1
											</div>
											<a href="single.html" class="link-button"><span>Read more &#8594;</span></a>
                                            </center>
								</div>
								<div class="one-third">
                                            <center>
											<a href="single.html" class="thumb" title="An image"><img src="../Content/img/thong-minh-cam-xuc.jpg" alt="Post"/></a>
											<div class="excerpt">
												<a href="single.html" class="header">Lorem ipsum dolor</a>
												Thông tin sách 1
											</div>
											<a href="single.html" class="link-button"><span>Read more &#8594;</span></a>
                                            </center>
								</div>
                        		<div class="one-third last">
                                            <center>
											<a href="single.html" class="thumb" title="An image"><img src="../Content/img/thong-minh-cam-xuc.jpg" alt="Post"/></a>
											<div class="excerpt">
												<a href="single.html" class="header">Lorem ipsum dolor</a>
												Thông tin sách 1
											</div>
											<a href="single.html" class="link-button"><span>Read more &#8594;</span></a>
                                            </center>
								</div>
								<!-- ENDS posts -->

					</div>
					<!-- ENDS content -->
				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->