@{
    ViewBag.Title = "DocGiaHome";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- MAIN -->
<div id="main">
    <!-- wrapper-main -->
    <div class="wrapper">


        <!-- content -->
        <div id="content">

            <!-- title -->
            <div id="page-title">
                <span class="title">Quản lý độc giả</span>
                <span class="subtitle">Mượn trả sách</span>
            </div>
            <!-- ENDS title -->
            <!-- sidebar -->
            <ul id="sidebar">
                <!-- init sidebar -->
                <li>
                    <h6>Chức năng</h6>
                    <ul>
                        <li class="cat-item"><a href="#" title="View all posts">Mượn trả sách</a></li>
                        <li class="cat-item"><a href="#" title="View all posts">Thống kê sách</a></li>
                        <li class="cat-item"><a href="#" title="View all posts">Thống kê độc giả</a></li>
                        <li class="cat-item"><a href="#" title="View all posts">Thiết lập quy định mượn trả</a></li>
                    </ul>
                </li>

                <li>
                    <h6>Cá nhân</h6>
                    <ul>
                        <li class="cat-item"><a href="#" title="View all posts">Sửa thông tin</a></li>
                        <li class="cat-item"><a href="#" title="View all posts">Đổi mật khẩu</a></li>
                    </ul>
                </li>
                <!-- ENDS init sidebar -->
            </ul>
            <!-- ENDS sidebar -->
            <!-- Posts -->
            <div id="posts">

                <!-- post -->
                <div class="post">
                    <h1><a href="single.html">Làm trong này</a></h1>

                    <!-- shadow -->
                    <div class="thumb-shadow">
                        <div class="the-excerpt">
                            Nội dung
                        </div>
                    </div>
                    <!-- ENDS shadow -->
                </div>
                <!-- ENDS post -->

            </div>
            <!-- ENDS Posts -->
        </div>
        <!-- ENDS content -->

    </div>
    <!-- ENDS wrapper-main -->
</div>
<!-- ENDS MAIN -->