@{
    Layout = "~/Views/Shared/_LayoutHead.cshtml";
}

<body class="home">

	<!-- HEADER -->
	<div id="header">
	<!-- wrapper-header -->
	    <div class="wrapper">
			<a href="index.html"><img src="../Content/img/logo.png" alt="Thư viện Đại học Khoa Học Tự Nhiên" class="title" id="logo" /></a>
            <!-- INFO -->
            <div class="infoUser">
                <div>
                    <p>Xin chào, Khách</p>
                    <p>Để sử dụng chức năng của thư viện, vui lòng <a href="/Home/Login">đăng nhập</a></p>
                </div>
            </div>
            <!-- ENDS INFO -->
        </div>
        <div>
           

        </div>
	<!-- ENDS wrapper-header -->					
	</div>
    <!-- ENDS HEADER -->

    @RenderBody()


    <!-- Bottom -->
	<div id="bottom">
		<!-- wrapper-bottom -->
		<div class="wrapper">
			<div id="bottom-text">2014</div>
			<!-- Social -->
			<ul class="social">
				<li><a href="http://www.facebook.com" class="poshytip facebook" title="Become a fan"></a></li>
				<li><a href="http://www.twitter.com" class="poshytip twitter" title="Follow our tweets"></a></li>
				<li><a href="http://www.dribbble.com" class="poshytip dribbble" title="View our work"></a></li>
				<li><a href="http://www.addthis.com" class="poshytip addthis" title="Tell everybody"></a></li>
				<li><a href="http://www.vimeo.com" class="poshytip vimeo" title="View our videos"></a></li>
				<li><a href="http://www.youtube.com" class="poshytip youtube" title="View our videos"></a></li>
			</ul>
			<!-- ENDS Social -->
			<div id="to-top" class="poshytip" title="To top"></div>
		</div>
		<!-- ENDS wrapper-bottom -->
	</div>
	<!-- ENDS Bottom -->
</body>