/* SIDEBAR2 ------------------------------------------------------------*/
#sidebar2{
	float: left;
	width: 100%;
}

#sidebar2 li{
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
	border-bottom: 1px solid #d7d7d7;
	padding-left:10px;
}

#sidebar2 li:last-child{ 
	border-bottom: none; 
	margin-bottom:20px;
}

#sidebar2 li a{
	display: block;
	text-decoration: none;
	color: #696969;
}

#sidebar2 li:hover{
	background: #f1f1f1;
}
/* LOGIN ------------------------------------------------------------*/
#login {
	width: 300px;
	margin: 100px auto;
}

#login div {
	margin: 10px 0 20px 0;
	font-size: 1.2em;
    text-align: center;
}

#login label {
	width: 100px;
	display: block;
	float: left;
	clear: left;
	font-weight: bold;
	line-height: 1.5em;
}

/* INFO ------------------------------------------------------------*/
.infoUser {
    position: absolute;
    top:30px;
    right: 0px;
    background-color: #1D2023;
    border-radius: 15px;
}
.infoUser div {
    margin: 15px;
}

.infoUser p{
    color: #B1B1B1;
    font-size:small;
    margin-bottom:8px;
}
